code {
  font-family: Consolas,"courier new";
  color: crimson;
  padding: 2px;
  font-size: 105%;
}

#code_block {
	padding: 5px;
	background-color: #373737;
	width: 400px;
	position: relative;
	border-radius: 5px;
}

#purple {
	color: #b19cd9;
}

#orange {
	color: orange;
}

#white {
	color: white;
}

#blue {
	color: #80CBCB;
}

#light-orange {
	color: #F0C568;
}

#comment-grey {
	color: #999999;
}